Package             Version
------------------- -----------------
absl-py             0.7.0
astor               0.7.1
better-exchook      1.20181014.155223
certifi             2020.6.20
cffi                1.12.3
chardet             3.0.4
cupy-cuda91         6.1.0
cycler              0.10.0
fastrlock           0.4
gast                0.2.2
grpcio              1.15.0
h5py                2.8.0
idna                2.9
Keras-Applications  1.0.6
Keras-Preprocessing 1.0.5
kiwisolver          1.0.1
Markdown            3.0.1
matplotlib          3.3.3
miniball            1.0.2
mkl-fft             1.0.10
mkl-random          1.0.2
multitasking        0.0.9
numpy               1.15.4
olefile             0.46
pandas              0.24.2
Pillow              8.1.0
pip                 19.0.1
protobuf            3.6.1
pycparser           2.19
pyparsing           2.2.0
pyreadline          2.1
python-dateutil     2.8.0
pytz                2019.1
requests            2.23.0
scikit-learn        0.20.3
scipy               1.1.0
seaborn             0.9.0
setuptools          40.8.0
Shapely             1.7.0
six                 1.11.0
tensorboard         1.12.2
tensorflow          1.12.0
termcolor           1.1.0
Theano              0.9.0
torch               1.1.0
torchsummary        1.5.1
torchvision         0.3.0
urllib3             1.25.9
webencodings        0.5.1
Werkzeug            0.14.1
wheel               0.32.1
wincertstore        0.2
